.container{
    height: 500px;
    width: 500px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    display: flex;
}

.affichage {
    height: 100px;
    width: 400px;
    background-color: grey;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.pav {
    display: grid;
    position: absolute;
    margin-left: 25px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 150px;
    height: 300px;
    width: 450px;
    background: red;
}

#num1 { grid-area: 2 / 1 / 3 / 2; }
#num2 { grid-area: 2 / 2 / 3 / 3; }
#num3 { grid-area: 2 / 3 / 3 / 4; }
#num4 { grid-area: 3 / 1 / 4 / 2; }
#num5 { grid-area: 3 / 2 / 4 / 3; }
#num6 { grid-area: 3 / 3 / 4 / 4; }
#num7 { grid-area: 4 / 1 / 5 / 2; }
#num8 { grid-area: 4 / 2 / 5 / 3; }
#num9 { grid-area: 4 / 3 / 5 / 4; }
#num0 { grid-area: 5 / 2 / 6 / 3; }
#opplus { grid-area: 2 / 4 / 3 / 5; }
#opmoins { grid-area: 3 / 4 / 4 / 5; }
#opfois { grid-area: 4 / 4 / 5 / 5; }
#opdiv { grid-area: 5 / 4 / 6 / 5; }
#opegal { grid-area: 5 / 3 / 6 / 4; }
#opvirgule { grid-area: 5 / 1 / 6 / 2; }